* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
ul li {
    list-style-type: none;
}
ul li a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.header {
    background-color: red;
    padding: 10px;
}
img {
    display: block;
    max-width: 100%;
    width: 150px;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}