* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 0.75rem 3%;
}
.logo {
    font-size: 5rem;
    font-weight: bolder;
    color: #fff;
    font-family: Sacramento, sans-serif;
}
.nav-bar {
    display: flex;
    gap: 2rem;
    list-style: none;
}
.nav-bar a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.nav-bar a:hover {
    color: #f4b400;
}
img {
    display: block;
    max-width: 100%;
}
.projects {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    text-align: center;
}
.main-projects {
    background-color: #fff;
    padding: 2rem 0;
}
.img-projects {
    height: 150px;
    width: 200px;
    display: block;
    border-radius: 7px;
}
/*.hero {
    background-image: url(me.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 30%;
    height: 600px;
    width: 100%;
}*/
.hero {
   background: linear-gradient(135deg, #222 40%, #f4b400);
}
.hero-left {
    padding: 2rem;
    color: #ffffff;
    font-size: 2rem;
}
.hero-left h2 {
    font-size: 3rem;
}
.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5px;
}
.footer {
    text-align: center;
    padding: 1.3rem 0;
    background-color: #f4b400;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.project-box {
    background-color: rgba(241, 235, 235, 0.5);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    border-radius: 7px;
    padding: 1rem 0;
    width: 230px;
    height: auto;
}
.flex-column-no-gap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.75rem 0; 
}
.buttons-work-live {
    background-color: #f4b400;
    color: #000;
    font-weight: bold;
    font-size: 0.75rem;
    padding: 0.75rem;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease;
}
.buttons-blog-code {
    background-color: #cacaca;
    color: #000;
    font-weight: bold;
    font-size: 0.75rem;
    padding: 0.75rem;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease;
}
.buttons-work-live:hover {
    color: #fff;
    transition: all 0.5s ease;
}
.buttons-blog-code:hover {
    color: #fff;
    transition: all 0.5s ease;
}
button:hover {
    padding: 15px;
    transition: all 0.5s ease;
}
button:active {
    transform: scale(1.5);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
a {
    text-decoration: none;
}
.carousel {
    overflow: hidden;
    padding: 20px 0;
}
.tracks {
    display: flex;
    gap: 20px;
    animation: slideLeft 18s linear infinite;
    width: max-content;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-50%));
    }
}