* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
ul li {
    list-style-type: none;
}
ul li a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.header {
    background-color: red;
    padding: 10px;
}
img {
    display: block;
    max-width: 100%;
}
.projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 60px;
}
.center {
    text-align: center;
    padding: 1rem 0;
}
.main-projects {
    background-color: aqua;
}
.img-projects {
    height: 150px;
    width: 200px;
    display: block;
    border-radius: 7px;
}
.hero {
    background-image: url(me.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
}
.hero-left {
    color: white;
    font-weight: bold;
}
.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
}
